# NOTE: Top-level keys are substitued in the file before loading it.

# Paths (working directory, database, etc.)
workdir: '.'
db: 'musered.db'
raw_path: '{workdir}/raw'
reduced_path: '{workdir}/reduced/{version}'
muse_calib_path: '/home/conseil/lib/musedrs/muse-calib'

# Version
version: '0.1'
revision: '1'

loglevel: info

# Definition of datasets.
datasets:
  IC4406:
    archive_filter:
      # "column_filters" passed to astroquery.Eso.query_instrument
      obs_targ_name: IC4406

# python-cpl settings, esorex like.
cpl:
  # recipes directory (and version if needed)
  recipe_path: '/home/conseil/.local/lib/esopipes-plugins'
  # drs_version: '2.1.0'
  # log files directory
  log_dir: '{workdir}/reduced/{version}/logs'
  # severity level and format of messages printed to the terminal
  msg: info
  msg_format: "[%(process)s] %(levelname)s - %(name)s: %(message)s"
  # msg_format: "[%(process)s] %(levelname)s - %(name)s: %(message)s"
  # severity level and format of messages for the logfile
  esorex_msg: debug
  esorex_msg_format: "%(asctime)s [%(levelname)07s][%(threadName)s] %(name)s: %(message)s"

# This is just an example of how to use substitutions to define date ranges
# that are used below for static calibrations. Not used elsewhere.
runs:
  GTO17: &GTO17
    start_date: 2017-04-01
    end_date: 2017-06-30
  GTO24: &GTO24
    start_date: 2018-04-01
    end_date: 2018-04-30
  GTO25: &GTO25
    start_date: 2018-05-01
    end_date: 2018-07-01

# Static calibrations.
# By default files from the muse_calib_path directory are used, but it is also
# possible here to specify date ranges of validity for specific calibrations.
static_calib:
  BADPIX_TABLE:
    badpix_table.fits:
      start_date: 2015-05-11
    badpix_table_pre_2015apr.fits:
      start_date: 2014-09-17
      end_date: 2015-05-10
  ASTROMETRY_WCS:
    astrometry_wcs_wfm_gto17.fits: *GTO17
    astrometry_wcs_wfm_gto24.fits: *GTO24
    astrometry_wcs_wfm_gto25.fits: *GTO25
  GEOMETRY_TABLE:
    geometry_table_wfm_gto17.fits: *GTO17
    geometry_table_wfm_gto24.fits: *GTO24
    geometry_table_wfm_gto25.fits: *GTO25

# Parameters for the retrieve_data command (passed to astroquery.Eso.login)
retrieve_data:
  username: MUSE-GTO
  store_password: False
  reenter_password: True

# Parameters for recipes. Can be used to specify additional parameters.
recipes:
  common:
    temp_dir: '{workdir}/reduced/{version}/tmp'

  muse_wavecal:
    # This can be used to change the frames excluded by default
    # frames:
    #   exclude: [MASTER_DARK]
    #   include: [MASTER_FLAT]
    params:
      saveimages: True

  # muse_scibasic:
  #   init:
  #     use_drs_output: False
  #     output_dir: '{workdir}/reduced/{version}/SCIBASIC'

  # Example of a special version of scipost to produce images for the
  # recentering step. For this we don't need sky-subtraction nor raman
  # correction. Can be run with --params muse_scipost_rec
  # muse_scipost_rec:
  #   frames:
  #     exclude: [RAMAN_LINES]
  #   init:
  #     output_dir: 'scipost-rec'
  #   params:
  #     dlambda: 5
  #     skymethod: 'none'

  muse_scipost:
    # scipost using offsets (OFFSET_LIST computed with the drs method) and
    # other options (raman, skysub, autocalib)
    # OFFSET_LIST: OFFSET_LIST_drs
    init:
      output_dir: 'scipost'
    params:
      autocalib: 'deepfield'
      skymethod: 'model'
      skymodel_fraction: 0.5
      save: 'cube,skymodel,individual,raman,autocal'

  muse_exp_align:
    # these are the default values
    from_recipe: muse_scipost
    method: drs
    filt: white

  muse_exp_combine:
    # OFFSET_LIST: drs
    OFFSET_LIST: '{workdir}/reduced/{version}/exp_align/OFFSET_LIST_new.fits'
